@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #BCF285, #17BF60);
}
main {
    background-color: blanchedalmond;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2a6946ce;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
color: #040746e1;
text-align: center;
text-shadow: 1px 1px 2px #010326; 
}
h2{
color: #17A655;
}
p {
    text-align: justify;
}