@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('..//fontes/idroid.otf'); format:('opentype');
    font-weight: normal;


}

/*
    #32FA8C
    #4CCF87
    #58A57B
    #45504A
    #27332C
*/




:root{
    --cor0: #13f579;
    --cor1: #15cc67;
    --cor3: #189e54;
    --cor4: #177242;
    --cor5: #0c3f20;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android:'Android' ;
}
* {
    margin: 0px;
    padding: 0px;
}



body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
/*O codigo demarcado abaixo tem a marca "::after" para que o emogi fique depois da 
palavra. E a parte do codigo "00A0" cerve para adicionar um espaço*/
a.externo::after{
    content: '\00A0\1F517';
}



header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1{ 
    color:beige ;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    
}
header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: beige;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);

}
nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.466);
}
nav >a {
    color: var(--cor0);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
    
}

nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);

}

main {min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: aliceblue;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-size: 1.8em;
}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor3), transparent);
    text-indent: 8px;

}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main strong{
    color: var(--cor4);
    font-weight: bold;
   

}
main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor0);
    padding: 2px 6px;
}
main a:hover{
    text-decoration:underline;
    color: var(--cor3);
}
main img{
    width: 100%;
}
main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}
div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.534);

}
/*Não esquecer que tambem pode-se usar a margem negativa de pixels*/
aside > h3 {
    background-color: var(--cor4);
    color: beige;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
/*para configurar(se eu quisesse) todas as """ul's""" da pagina não era preciso usar 
o aside, mas eu quero configurar apenas essas alem do que fica mais organizado */
aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

/*aqui abaixo neste footer poderia ser feito assim tambem
(footer > p > a) porque o link (a) esta dentro de um paragrafo*/
footer a {
      color: beige;
      font-weight: bolder;
      text-decoration: none;
}
 footer a:hover{
    text-decoration: underline;
    color: var(--cor0);
 }